# APP SETTINGS
APP_MODE="dev"
APP_URL="http://localhost"
APP_PORT="3000"

# FRONTEND
FRONTEND_URL="http://localhost:5173"

# DB CONNECTION
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""
DB_NAME=""

# APP PARAMETERS
FREE_SHIPPING_THRESHOLD="49"
STANDARD_SHIPPING_COST="6.90"
SUCCESS_PERCENTAGE_PAYMENT_SIMULATION="0.8"